* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans";
  background: url(../img/937f93634d64997127af8670b79f1c2b.jpg);
  background: cover;
  background-attachment: fixed;
 
}
.contenedor {
  margin: 0 auto;
  max-width: 120rem;
}

.contenedor-texto {
  color: white;
  text-align: center;
}

.header {
  width: 100%;
  height: 600px;
  background: #8e0e00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(0, 78%, 51%, 0.6),
      #2705018f
    ),
    url(../img/WhatsApp\ Image\ 2022-08-03\ at\ 5.56.12\ PM.jpeg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(0, 78%, 51%, 0.6), #2705018f),
    url(../img/WhatsApp\ Image\ 2022-08-03\ at\ 5.56.12\ PM.jpeg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.nav {
  text-align: right;
  padding: 30px 50px 0 0;
}
nav > a {
  color: aliceblue;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}
nav > a:hover {
  text-decoration: underline;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.titulo {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.contenedor-nuestra-institucion {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.textos-header h1 {
  font-size: 50px;
  color: aliceblue;
}
.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: aliceblue;
}

.imagen-about-us {
  width: 48%;
}
.contenido-textos h3 {
  margin-bottom: 15px;
}
.contenido-textos h3 span {
  background: black;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

.contenido-textos p {
  padding: 0px 0px 60px 30px;
  font-weight: 1000;
  text-align: justify;
}

.contenedor .form .form-header .form-tittle {
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 14px, 0;
}

.contenedor .form .form-header .form-tittle span {
  color: white;
}

.contenedor .form {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
}

.contenedor .form .form-lable {
  display: block;
  color: white;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

.contenedor .form .form-input {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  border-bottom: 2px solid #8e0e00;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  font-family: roboto;
}
.contenedor .form .select {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  border-bottom: 2px solid #8e0e00;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  font-family: roboto;
}

.contenedor .form .input-casillero {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  border-bottom: 2px solid #8e0e00;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  font-family: roboto;
}
.contenedor .form .fieldset {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  border-bottom: 2px solid #8e0e00;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 14px;
  font-family: roboto;
}

img {
  width: 400px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.producto {
  background-color: black;
  margin: 2rem;
  padding: 2rem;
}

.camiseta {
  background-color: white;
  height: 20rem;
  object-fit: contain;
  padding: 1rem;
}

.producto-precio,
.producto-nombre {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.producto-precio {
  font-size: 2.5rem;
  font-weight: 500;
}

.producto-nombre {
  font-size: 3rem;
  font-weight: 600;
}

.plantel {
  color: white;
}

.contenedor-nuestra-casa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imagen-port {
  height: 20rem;
  object-fit: contain;
  padding: 1rem;
}

.titulo-casa {
  color: white;
}

.contenidos-textos h3 {
    margin-bottom: 15px;
  }
.contenidos-textos h3 span {
    background: black;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}
.contenidos-textos{
    color:white;
}

.plantel {
  display: grid;
  
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  font-size: 30px;
  grid-template-rows: 100px;
  gap: 10px;
}

h1{
  animation-duration : 5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
@keyframes aparecer {
  0%{ 
  opacity: 0;
  }
  100% {
  opacity: 1; 
  }
  }
.twitter{
  width: 100px;
  height: 100px;
  
}